<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>community</title>
    <link th:href="@{/css/community.css}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;," >
    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/community.js}"></script>
</head>
<body>
    <div id="headline">
        <ul>
            <li><a href="#">EzenCode;</a></li>
            <li><a href="#">분야별 강의</a></li>
            <li><a href="#">취업 로드맵</a></li>
            <li>
                <!-- 검색창을 포함한 HTML -->
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Search..">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <!-- 최근 검색어를 표시할 드롭다운 메뉴 -->
                <div class="recent-searches">
                    <ul id="recent-searches-list"></ul>
                </div>
            </li>
            <li><a href="#">커뮤니티</a></li>
            <li><a href="#">수강후기</a></li>
            <li><a href="#">기업교육</a></li>
            <li><a href="#">멤버십 안내</a></li>
            <li><a href="">로그인</a>/<a href="">회원가입</a></li>
        </ul>
    </div>

</body>
</html>